<p id="notice"><%= notice %></p>

<h1>Listing Piers</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Year</th>
      <th>Course</th>
      <th>Professor</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piers.each do |pier| %>
      <tr>
        <td><%= pier.fullname %></td>
        <td><%= pier.year %></td>
        <td><%= pier.course %></td>
        <td><%= pier.professor %></td>
        <td><%= pier.rate %></td>
        <td><%= link_to 'Show', pier %></td>
        <td><%= link_to 'Edit', edit_pier_path(pier) %></td>
        <td><%= link_to 'Destroy', pier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pier', new_pier_path %>
