

<%= video_tag "cperks.mp4", :size => "320x240", :controls => false, :autoplay => true, :loop => true %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll site-title" id="cp-top" href="#page-top">Campus Perks</a>
        </div>
        <!-- </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-overlay"></div>
    <div class="header-content">
        <div class="header-content-inner">
<!--                 <h1 style="font-size: 2em">Campus Perks</h1> -->
            <p class="subtitle-phrase">A one stop platform to enable better educational experiences</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll text-color">Get In Touch</a>
            <br>
            <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>

</div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="p-questions">Want to get an on-demand, on-campus tutoring session few hours right before your exam?</p>
            <p class="p-questions">Struggling to find past homework solutions?</p>
            <p class="p-questions">Feel like meeting new people and don’t know where?</p>
            <hr class="light">
            <h2 class="section-heading">How It Works</h2>
            <p class="text-faded">Campus Perks aims to serve as your school's community enhancer to help you get the most out of your educational experience. Through a collective effort, we want to help you to be better at what you do and improve your experience on campus to help you grow as an individual. Our online platform connects you to your fellow classmates to share knowledge through the following services:</p>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <%= image_tag "Tutoring.png", class: "img-responsive" %>
                <h3>Peer Tutoring</h3>
                    <p class="text-faded">Get tutored in your subject by peers who took the same class and professor. Get insights on their homework and exams, all while getting to know your peers better. Make a quick buck by teaching fellow peers between classes. Set your own rate and schedule appointments at your own convenience.</p>
            </div>
            <div class="col-md-4 text-center">
                <%= image_tag "NoteShare.png", class: "img-responsive" %>

                <h3>Note Sharing</h3>
                    <p class="text-faded">Post past exams, homework solution and papers on Campus Perks helping out your peers. Like, share and comment on their notes and learn from them through the comment section.</p>
            </div>
            <div class="col-md-4 text-center">
                <%= image_tag "Events.png", class: "img-responsive" %>
                <h3>On-Campus Events</h3>
                    <p class="text-faded">Create and invite your peers to join your On-Campus events. Attend other events that are posted and get to know like-minded individuals.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>We want to help! More perks coming soon at your campus...</h2>
            </div>
        </div>

    </div><!--close container-->
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Up Today</h2>
                <h3>Join our mailing list to keep up with our latest updates.</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <%= simple_form_for @visitor do |f| %>
                <%= f.error_notification %>
                <%= f.input :full_name, label: false, :placeholder => 'Your name...' %>
                <%= f.input :campus_name, label: false, :placeholder => 'Your college/university name...' %>
                <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
                <br/>
                <%= f.button :submit, "Subscribe", :class => "submit" %>
              <% end %>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <p class="footer-title">Copyright 2015 Campus Perks</p>
        </div>
    </div>
</aside>

<!-- jQuery -->
<!-- <script src="assets/javascripts/jquery.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<!-- <script src="assets/javascripts/bootstrap.min.js"></script> -->
<!-- Plugin JavaScript -->
<!-- <script src="assets/javascripts/jquery.easing.min.js"></script> -->
<!-- <script src="assets/javascripts/jquery.fittext.js"></script> -->
<!-- <script src="assets/javascripts/wow.min.js"></script> -->
<!-- Custom Theme JavaScript -->
<!-- <script src="assets/javascripts/creative.js"></script> -->

<%= javascript_include_tag "jquery" %>

<%= javascript_include_tag "bootstrap.min" %>

<%= javascript_include_tag "jquery.easing.min" %>

<%= javascript_include_tag "jquery.fittext" %>

<%= javascript_include_tag "wow.min" %>

<%= javascript_include_tag "creative" %>
