

<%= video_tag "cperks.mp4", :size => "320x240", :controls => false, :autoplay => true, :loop => true %>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand page-scroll site-title" id="cp-top" href="#page-top">Campus Perks</a>
        </div>
        <!-- </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-overlay"></div>
    <div class="header-content">
        <div class="header-content-inner">
<!--                 <h1 style="font-size: 2em">Campus Perks</h1> -->
            <p class="subtitle-phrase">A community for more than just tutoring</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll text-color">Get In Touch</a>
            <br>
            <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>

</div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Vision</h2>
                <hr class="light">
                <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut massa suscipit, iaculis purus et, tempus dolor. Curabitur sodales fermentum dolor fermentum vestibulum. Nunc dictum pulvinar lacus, nec dapibus dolor tincidunt eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed sed turpis vitae neque porta rhoncus a non ligula. Pellentesque quis nisl tempus sem euismod accumsan ac vitae sapien. Fusce finibus quis massa non viverra. Nulla facilisi. Nunc nec massa neque. Nulla eu odio quam. Morbi diam justo, volutpat quis lobortis eu, finibus sed mauris. Etiam luctus elit eu ante consequat ultricies.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sign Up Today</h2>
                <h3>Tell us why you're ready for the final frontier.</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <%= simple_form_for @visitor do |f| %>
                <%= f.error_notification %>
                <%= f.input :full_name, label: false, :placeholder => 'Your name...' %>
                <%= f.input :campus_name, label: false, :placeholder => 'Your campus name...' %>
                <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
                <br/>
                <%= f.button :submit, "Subscribe", :class => "submit" %>
              <% end %>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <p class="footer-title">Copyright 2015 Campus Perks</p>
        </div>
    </div>
</aside>

<!-- jQuery -->
<!-- <script src="assets/javascripts/jquery.js"></script> -->
<!-- Bootstrap Core JavaScript -->
<!-- <script src="assets/javascripts/bootstrap.min.js"></script> -->
<!-- Plugin JavaScript -->
<!-- <script src="assets/javascripts/jquery.easing.min.js"></script> -->
<!-- <script src="assets/javascripts/jquery.fittext.js"></script> -->
<!-- <script src="assets/javascripts/wow.min.js"></script> -->
<!-- Custom Theme JavaScript -->
<!-- <script src="assets/javascripts/creative.js"></script> -->

<%= javascript_include_tag "jquery" %>

<%= javascript_include_tag "bootstrap.min" %>

<%= javascript_include_tag "jquery.easing.min" %>

<%= javascript_include_tag "jquery.fittext" %>

<%= javascript_include_tag "wow.min" %>

<%= javascript_include_tag "creative" %>
